
<script type="text/javascript" src="https://unpkg.com/transbank-onepay-frontend-sdk@1.5/lib/merchant.onepay.min.js"></script>

<script type="text/javascript">

    function placeOrder() {
        var options = {
            endpoint: '{{ action_create }}',
            commerceLogo: '{{ logo_url }}',
            callbackUrl: '{{ action_commit }}',
            transactionDescription: '{{ transaction_description }}'
        };
        Onepay.checkout(options);
    }

</script>

<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" onclick="javascript:placeOrder();"/>
    </div>
</div>

