{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
          <div class="tab-content">

		    <div class="form-group">
              <label class="col-sm-2 control-label" for="payment_transbank_onepay_status">{{ entry_status }}</label>
              <div class="col-sm-10">
                <select name="payment_transbank_onepay_status" id="payment_transbank_onepay_status" class="form-control">
                  {% if payment_transbank_onepay_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>

            <div class="form-group required">
                <label class="col-sm-2 control-label" for="payment_transbank_onepay_environment">{{ entry_transbank_onepay_environment }}</label>
                <div class="col-sm-10">
                  <select name="payment_transbank_onepay_environment" id="payment_transbank_onepay_environment" class="form-control">
                    {% if payment_transbank_onepay_environment == 'LIVE' %}
                    <option value="TEST">INTEGRACION</option>
                    <option value="LIVE" selected="selected">PRODUCCION</option>
                    {% else %}
                    <option value="TEST" selected="selected">INTEGRACION</option>
                    <option value="LIVE">PRODUCCION</option>
                    {% endif %}
                  </select>
                  {% if error_transbank_onepay_environment %}
                    <div class="text-danger">{{ error_transbank_onepay_environment }}</div>
                  {% endif %}
                </div>
            </div>

            <div class="form-group required">
                <label class="col-sm-2 control-label" for="payment_transbank_onepay_apikey_test">{{ entry_transbank_onepay_apikey_test }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_transbank_onepay_apikey_test" id="payment_transbank_onepay_apikey_test" value="{{ payment_transbank_onepay_apikey_test }}" placeholder="{{ entry_transbank_onepay_apikey_test }}" class="form-control"/>
                  {% if error_transbank_onepay_apikey_test %}
                  <div class="text-danger">{{ error_transbank_onepay_apikey_test }}</div>
                  {% endif %}
                </div>
            </div>

			<div class="form-group required">
              <label class="col-sm-2 control-label" for="payment_transbank_onepay_shared_secret_test">{{ entry_transbank_onepay_shared_secret_test }}</label>
              <div class="col-sm-10">
                <input type="text" name="payment_transbank_onepay_shared_secret_test" id="payment_transbank_onepay_shared_secret_test" value="{{ payment_transbank_onepay_shared_secret_test }}" placeholder="{{ entry_transbank_onepay_shared_secret_test }}" class="form-control"/>
                {% if error_transbank_onepay_shared_secret_test %}
                <div class="text-danger">{{ error_transbank_onepay_shared_secret_test }}</div>
                {% endif %}
              </div>
            </div>

            <div class="form-group required">
                <label class="col-sm-2 control-label" for="payment_transbank_onepay_apikey_live">{{ entry_transbank_onepay_apikey_live }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_transbank_onepay_apikey_live" id="payment_transbank_onepay_apikey_live" value="{{ payment_transbank_onepay_apikey_live }}" placeholder="{{ entry_transbank_onepay_apikey_live }}" class="form-control"/>
                  {% if error_transbank_onepay_apikey_live %}
                  <div class="text-danger">{{ error_transbank_onepay_apikey_live }}</div>
                  {% endif %}
                </div>
            </div>

			<div class="form-group required">
              <label class="col-sm-2 control-label" for="payment_transbank_onepay_shared_secret_live">{{ entry_transbank_onepay_shared_secret_live }}</label>
              <div class="col-sm-10">
                <input type="text" name="payment_transbank_onepay_shared_secret_live" id="payment_transbank_onepay_shared_secret_live" value="{{ payment_transbank_onepay_shared_secret_live }}" placeholder="{{ entry_transbank_onepay_shared_secret_live }}" class="form-control"/>
                {% if error_transbank_onepay_shared_secret_live %}
                <div class="text-danger">{{ error_transbank_onepay_shared_secret_live }}</div>
                {% endif %}
              </div>
            </div>

			<div class="form-group">
              <label class="col-sm-2 control-label" for="payment_transbank_onepay_logo_url">{{ entry_transbank_onepay_logo_url }}</label>
              <div class="col-sm-10">
                <input type="text" name="payment_transbank_onepay_logo_url" id="payment_transbank_onepay_logo_url" value="{{ payment_transbank_onepay_logo_url }}" placeholder="{{ entry_transbank_onepay_logo_url }}" class="form-control"/>
              </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <style>
                        .diagnosticButton {
                            font: bold 14px Arial;
                            text-decoration: none;
                            background-color: #EEEEEE;
                            color: #333333;
                            border-top: 1px solid #CCCCCC;
                            border-right: 1px solid #333333;
                            border-bottom: 1px solid #333333;
                            border-left: 1px solid #CCCCCC;
                            padding: 10px;
                        }
                        .diagnosticButton:hover {
                            text-decoration: none;
                        }
                    </style>
                    <a href='{{ action_diagnostic_pdf }}' target="_blank" class="diagnosticButton">Generar PDF de Diagnóstico</a>
                </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
